body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/frontend/resource/mesa-e-bolas.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(4px); /* Aplica o desfoque */
    z-index: -1; /* Garante que a imagem embaçada fique atrás do conteúdo */
}

#titulo{
    text-align: center;
    font-size: 7rem; /* Tamanho da fonte */
    font-weight: bold; /* Negrito para melhor efeito */
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 208, 0), rgb(253, 228, 0),rgb(255, 255, 255)); /* Gradiente dourado */
    -webkit-background-clip: text; /* fundo dourado/ invisível */
    color: transparent; /* Texto transparente para mostrar o gradiente */
    font-family:cursive;
}

#campeonatos-passados{
    display: flex;
    justify-content: center;
}
fieldset{
    background-color: white;
    width: 100vh;
}

u{
    display: flex;
    justify-content: center;
}
