body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/frontend/resource/mesa-e-bolas.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(4px); /* Aplica o desfoque */
    z-index: -1; /* Garante que a imagem embaçada fique atrás do conteúdo */
}

