{% extends "base.html" %}

{% block title %}Criação de Torneio{% endblock %}

{% block content %}

<div class="container">
    <h1>Cadastro de jogador</h1>

    {% with messages = get_flashed_messages() %}
          {% if messages %} 
              <ul id="messages" class="list-unstyled">
              {% for message in messages %}
                  <li class="alert alert-success">{{ message }}</li>
              {% endfor %}
              </ul>
          {% endif %}
        {% endwith %}
        
    <form method="POST" action="cadastrar-torneio">
        <label for="nome">Nome:</label><br>
        <input type="text" class="form-control" name="nome" required>
        <label for="idade">Idade</label>
        <input type="text" class="form-control" type="text" name="idade" required>
        <button type="submit" class = "btn btn primary">cadastrar</button>
        <button type="submit" class = "btn btn-secondary">cancelar</button>
       
    </form>
</div>
{% endblock %}
