{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}
{% block content %}
<nav class="navbar navbar-light bg-light">
    <div class="coitainer-fluid"></div>
</nav>
<div class="row">
    <h1>Torneios</h1>
</div>


{% with messages = get_flashed_messages() %}
{% if messages %}
<ul id="messages" class="list-unstyled">
    {% for message in messages %}
    <li class="alert alert-success">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</td>
            <th scope="col">Ano</td>
        </tr>
    </thead>
    <tbody>
        {% for item in lista %}
        <tr>
            <td>{{ item.nome }}</td>

            <td>{{ item.ano }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="row align-items-center">
    <div class="col-auto">
        <form action="/torneio" method="get">
            <button type="submit" class="btn btn-primary"> Novo torneio </button>
        </form>
    </div>
    <div class="col-auto">
        <form action="/torneio" method="get">
            <button type="submit" class="btn btn-secondary"> Novo jogador </button>
        </form>
    </div>

    <br>

    <div class="col-auto" id="btn_login">
        <form action="/login" method='get' class="btn btn link"><button type="submit">Login</button></form>
    </div>


</div>

{% endblock %}