{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Torneios</h1>

    {% with messages = get_flashed_messages() %}
          {% if messages %} 
              <ul id="messages" class="list-unstyled">
              {% for message in messages %}
                  <li class="alert alert-success">{{ message }}</li>
              {% endfor %}
              </ul>
          {% endif %}
        {% endwith %}

    <table>
        <thead>
            <tr>
                <td>Nome</td>
                <td>Ano</td>
            </tr>
        </thead>
        <tbody>
            {% for item in lista %}
            <tr>
                <td>{{ item.nome }}</td>
                
                <td>{{ item.ano }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <form action="/torneio" method="get">
    <button type = "submit"> Cadastrar torneio </button >
    </form>
    <form action="/login" method = 'get'><button type="submit">Login</button></form>
{% endblock %}